---
import Layout from '../layout/layout.astro';
import Hero from '../components/Hero.astro';
import Info from '../components/Info.astro';
import PhotoSection from '../components/PhotoSection.astro';
import Testimonials from '../components/Testimonials.astro';
import Images from '../components/Images.astro';
import Footer from '../components/Footer.astro';
import {infoData} from "../utils/infoData";
import {photoData} from "../utils/photoData";
---

<Layout>
    <Hero />
    {
        infoData.map(item => (
                <Info
                        flexDirection={item.flexDirection}
                        title={item.title}
                        content={item.content}
                        color={item.color}
                        img={item.img}
                        alt={item.alt}
                />
        ))
    }
    {
       photoData.map(item => (
            <PhotoSection
                title={item.title}
                content={item.content}
                color={item.color}
                img={item.img}
                alt={item.alt}
            />
       ))
    }
    <div class="clear"></div>
    <Testimonials />
    <Images />
    <Footer />
</Layout>

<style>
    .clear {
        clear: both;
    }
</style>