---
import { Image } from "astro:assets";
import logo from '../assets/images/logo.svg';
import facebook from '../assets/images/icon-facebook.svg';
import twitter from '../assets/images/icon-twitter.svg';
import pinterest from '../assets/images/icon-pinterest.svg';
import instagram from '../assets/images/icon-instagram.svg';
---

<footer id="footer">
    <section class="logo">
        <Image src={logo} alt="sunnyside logo" />
    </section>
    <section class="links">
        <a href="/">About</a>
        <a href="/">Services</a>
        <a href="/">Projects</a>
    </section>
    <section class="socialMedia">
        <Image src={facebook} alt="facebook logo" />
        <Image src={instagram} alt="instagram logo" />
        <Image src={twitter} alt="twitter logo" />
        <Image src={pinterest} alt="pinterest logo" />
    </section>
</footer>

<style lang="scss">
    footer {
      height : 40vh;
      min-height: 25rem;
      width : 100vw;
      background-color: var(--darkModerateCyan);

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .logo {
        img {
          width : 18rem;
          height: auto;
          margin-top: 1.5rem;
          margin-bottom: 1.5rem;

          @media screen and (orientation: portrait) and (max-width: 600px) {
            width : 14rem;
          }
        }
      }

      .links {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;

        a {
          text-decoration: none;
          color: var(--darkDesaturatedCyan);
          font-family: 'Barlow', sans-serif;
          font-size : 1.25rem;
          margin : 2rem;

          transition: color 125ms;

          @media screen and (orientation: portrait) and (max-width: 600px) {
            font-size : 1.1rem;
            margin: 1rem;
          }
        }

        a:hover {
          color: var(--white);
        }
      }

      .socialMedia {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;

        img {
          width : 2rem;
          height: auto;
          margin : 1rem;
          cursor: pointer;

          @media screen and (orientation: portrait) and (max-width: 600px) {
            width : 1.5rem;
            margin: .75rem;
          }
        }

        img:hover {
          filter: brightness(10);
        }
      }
    }
</style>
