---
import { Image } from "astro:assets";
import { testimonialsData } from "../utils/testimonialsData";
---

<section class="Testimonials">
    <h2 class="Testimonials__title">CLIENT TESTIMONIALS</h2>
    <div class="Testimonials__items">
        {
            testimonialsData.map(item => (
                    <section class="Testimonials__items__item">
                        <Image src={item.img} alt={item.alt} />
                        <p class="Testimonials__items__item__text">{item.text}</p>
                        <h3 class="Testimonials__items__item__name">{item.name}</h3>
                        <p class="Testimonials__items__item__job">{item.job}</p>
                    </section>
            ))
        }
    </div>
</section>

<style lang="scss">
    .Testimonials {
      width : 100vw;
      height : 90vh;
      min-height: 35rem;
      background-color: var(--white);

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__title {
        text-align: center;
        font-family: 'Fraunces', sans-serif;
        color: var(--darkGrayishBlue);
        font-size : 2rem;
        letter-spacing: .5rem;
      }
    }
</style>